//header properties

.header_home {
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  @include boxShadow;
  &img {
    height: 44px;
    width: 162px;
  }
  @media (min-width: $breakpoint_desktop){
    height: 96px;
    &img {
      height: 34.2px;
      width: 200px;
    }
  }
}