//location section
.location_section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
  background-color: $lightGrey;
  h3 {
    color: $ultraDarkGrey;
  }
  i {
    height: 16px;
    width: 12px;
    color: $ultraDarkGrey;
  }
}

//titles and buttons
.titlesButton_section {
  background-color: $grey;
  div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      color: $black;
      margin: 39.5px 42px 12px 42px;
      @media (min-width: $breakpoint_desktop) {
        font-size: 40px;
      }
    }
    h2 {
      color: $ultraDarkGrey;
      @include fontLighter;
      margin: 0px 34px 27px 34px;
    }
    a {
      @include linearGradient;
      @include boxShadow;
      @include buttonRadius;
      color: $white;
      padding: 13px 18.75px;
      margin-bottom: 57px;
    }
  }
}

//Fonctionnement section
.fonctionnement_section {
  //general section properties
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 68px;
  @media (min-width: $customBreakpoint_fonctionnement) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  //title
  h1 {
    //space btw h1 and cards
    margin-bottom: 24px;
    @include mobilePadding;
    @media (min-width: $breakpoint_tablet) {
      @include tabletPadding;
    }
    @media (min-width: $customBreakpoint_fonctionnement) {
      @include desktopPadding;
    }
  }
  //to do :
  //- add max-width : 500px ?
  //all of the 3 cards section general properties
  &-cardDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    @include mobilePadding;
    //for tablets : boxes in row & font size reduced
    @media (min-width: $breakpoint_tablet) {
      flex-direction: row;
      flex-wrap: nowrap;
      @include tabletPadding;
      //resize text inside card box to fit better
      h3 {
        font-size: 12px;
      }
    }
    //for desktop : boxes in row & font size normal
    @media (min-width: $customBreakpoint_fonctionnement) {
      @include desktopPadding;
      h3 {
        font-size: 16px;
      }
    }
  }
  //card <article>
  &-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; //IOT align circle & box
    width: 100%;
    //purple circles
    .cardNumber {
      background: $primary;
      border-radius: 50%;
      height: 24px;
      padding: 0;
      display: flex;
      position: relative;
      z-index: 2 ;
      //number inside purple circle
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        width: 24px;
        height: 24px;
      }
    }
    //card <article> grey box
    .cardBox {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      background-color: $grey;
      padding: 28.5px 38px 28.5px 33.5px;
      gap: 27px;
      width: 100%;
      position: relative;
      z-index: 1;
      right: 12px;
      @include boxShadow;
      @include fonctionnementRadius;
      //3rd icon purple color
      .purpleIcon {
        color: $primary;
      }
    }
  }
}

//cards
.restaurants_section {
  .card {
    height: 250px;
    width: 100%;
    h3 { margin: 0;}
    h5 { margin: 0}
    img {
      height: 175px;
      width: 100%;
    }
    &-rowNowrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    &-columnNowrap {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }
}
