//location section
.locationSection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: $lightGrey;
  i {
    height: 16px;
    width: 12px;
  }
}

//cards
.card {
  height: 250px;
  width: 100%;
  h3 { margin: 0;}
  h5 { margin: 0}
  img {
    height: 175px;
    width: 100%;
  }
  &_rowNowrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &_columnNowrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}