/*mixins*/

//box shadow
@mixin boxShadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}

//modified typo
@mixin fontLighter {
  font-family: Roboto Thin, sans-serif;
}

//linear gradient
@mixin linearGradient {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

//button radius
@mixin buttonRadius {
  border-radius: 25px;
}