/*mixins*/

//box shadow
@mixin boxShadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}

//modified typo
@mixin fontLighter {
  font-family: Roboto Thin, sans-serif;
}

//linear gradient
@mixin linearGradient {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

//radius
@mixin buttonRadius {
  border-radius: 25px;
}
@mixin fonctionnementRadius {
  border-radius: 20px;
}

@mixin cardRestaurantRadius {
  border-radius: 15px;
  img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
}

@mixin menuRadius {
  border-radius: 40px 40px 0px 0px;
}

//margin & padding
@mixin mobilePadding {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin tabletPadding {
  padding-left: 50px;
  padding-right: 50px;
}

@mixin desktopPadding {
  padding-left: 180px;
  padding-right: 180px;
}

@mixin totalPadding {
  @include mobilePadding;
  @media (min-width: $breakpoint_tablet) {
    @include tabletPadding;
  }
  @media (min-width: $breakpoint_desktop) {
    @include desktopPadding;
  }
}

@mixin menuTitlePadding {
  padding-top: 32px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 17px;
}
