//breakpoints
$breakpoint_tablet: 720px;
$breakpoint_desktop: 1080px;

//grey colors
$lightGrey: #D2D2D2;
$grey: #F6F6F6;
$darkGrey: #EAEAEA;
$ultraDarkGrey: #353535;

//white
$white: #FFFFFF;

//black
$black: #000000;
