//breakpoints
$breakpoint_tablet: 720px;
$breakpoint_desktop: 1080px;

//background colors
$lightGrey_background-color: #D2D2D2;
$grey_background-color: #F6F6F6;
$darkGrey_background-color: #EAEAEA;
$footerGrey_background-color: #353535;

//white
$white-color: FFFFFF;
