//Cardsaa

//<<<<<<<<<< Main page / Fonctionnement card >>>>>>>>>>
//single fonctionnement card properties
.fonctionnement_section-singleCard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; //IOT align circle & box
  width: 100%;
  //purple circles
  .cardNumber {
    background: $primary;
    border-radius: 50%;
    height: 24px;
    padding: 0;
    display: flex;
    position: relative;
    z-index: 2 ;
    //number inside purple circle
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      width: 24px;
      height: 24px;
    }
  }
  //card <article> grey box
  .cardBox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: $grey;
    padding: 28.5px 38px 28.5px 33.5px;
    gap: 27px;
    width: 100%;
    position: relative;
    z-index: 1;
    right: 12px;
    @include boxShadow;
    @include fonctionnementRadius;
    //3rd icon purple color
    .purpleIcon {
      color: $primary;
    }
  }
  @media (min-width: $breakpoint_tablet) {
    //for tablet : reduce text size to fit better
    h3 {
      font-size: 12px;
    }
  }
  //for desktop : font size normal
  @media (min-width: $customBreakpoint_fonctionnement) {
    h3 {
      font-size: 16px;
    }
  }
}



//_______________________________________________________________________________



//<<<<<<<<<< Main page / Restaurant card >>>>>>>>>>
//restaurant one card general properties
.restaurants_section-singleCard {
  height: 250px;
  width: 100%;
  position: relative;
  @include cardRestaurantRadius;
  @include boxShadow;
  //restaurant card image
  img {
    height: 175px;
    width: 100%;
    object-fit: cover;
  }
  //card "nouveau" green icon
  .newIcon {
    background-color: $tertiary;
    color: $darkGreen;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include boxShadow;
    //adjust 'nouveau' position
    position: absolute;
    top: 13px;
    right: 17px;
  }
  //container : name + location
  .card_textContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    //IOT to place the text inside its parent
    position: absolute;
    left: 13px;
    bottom: 20px;
  }
}


//______________________________________________________________________________


//<<<<<<<<<<  Restaurant Page / card Menu >>>>>>>>>>
//general menu properties
.menu_section-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  //category title properties (starter....)
  &-title {
    display: flex;
    flex-direction: column;
    @include menuCardPadding;
    h3 {
      font-weight: 300;
    }
    hr {
      background-color: $tertiary;
      margin-left: 0; //to align left
      margin-bottom: 12px;
      width: 40px;
      height: 3px;
      border: none;
    }
  }
  //title + recipies container
  &-categoryContainer {
    max-width: 634px;
  }
  //only recepy cards container
  &-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    @include menuCardPadding;
  }
  //single recepy card
  &-singleCard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 69px;
    width: 100%;
    background-color: $white;
    border-radius: 15px;
    gap: 5px;
    @include boxShadow;
    p {
      //inside card padding
      padding: 0px 15px;
    }
    div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}

