.background_image {
  height: 275px;
  img {
    object-fit: cover;
    height: 275px;
    width: 100%;
  }
}

//<<<<<<<<< Menu section >>>>>>>>>>

//IOT center the section when desktop mode
.centerMenuSection-for-Desktop {
  display: flex;
  justify-content: center;
}

//menu section general properties
.menu_section {
  background-color: $grey;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include menuRadius;
  position: relative;
  bottom: 40px;
  @media (min-width: $breakpoint_desktop) {
    max-width: 1055px;
  }
  //restaurant title properties
  &-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    @include menuTitlePadding;
    @media (min-width: $customBreakpoint_menu) {
      justify-content: center;
      gap: 24px;
    }
    i {
      transform: scale(1.7);
      position: relative;
      bottom: 3px;
    }
  }
}