.background_image {
  height: 275px;
  img {
    object-fit: cover;
    height: 275px;
    width: 100%;
  }
}

.menu_section {
  background-color: $grey;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include menuRadius;
  position: relative;
  bottom: 40px;
  &-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    @include menuTitlePadding;
    i {
      transform: scale(1.7);
      position: relative;
      bottom: 3px;
    }
  }
}